[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=HiFiCon
Exec=/usr/bin/env python3 -c 'from hificon.bin.main import main; main()'
StartupNotify=false
Terminal=false
Hidden=false
X-GNOME-Autostart-enabled=true

