[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=HiFiCon Tray Control
Exec=/usr/bin/env python3 -m hificon.tray
StartupNotify=false
Terminal=false
Hidden=false
X-GNOME-Autostart-enabled=true

